/* Resposive */
@media only screen and (max-width: 600px) {
    #wrapper {
        width: 100%;
    }
    .container {
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    #wrapper {
        height: 180px;
    }
    .title-top p {
        font-size: 10px;
        padding-top: 8px;
    }
    .image-area img {
        height: auto;
        width: 100%;
        margin-bottom: 15px;
    }
    .img-area img {

        height:180px;
    }
    .img-area img {
        width: 100%;
        /*height: 178px;*/
    }
    .image-area img{
        width: 100%;
    }
    .web-site{
        margin-bottom: 15px;
    }
    .ticker{
        width: 100%;
    }
    .news{
        width: 87%;
    }
    .title-new:after{
        width: 100%;
        right: -85%;
    }
    .title-new h5{
        font-size: 10px;
        margin-top: 18px;
    }
    .notice-board {
        height: 295px;
        padding: 10px 0 20px 30px;
    }
    .notice-board, .web-site, .col-sm-3.fix {
        width: 80%;
        margin: 0 auto 20px;

    }
   /* .web-site {
        margin-bottom: 20px;
    }*/
    .notice-list{
        width: 100%;
    }
    .notice-list ul li a{
        width: 100%;
    }
    

}